{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets":{
          "esmodules":true
        },
        "bugfixes": true,
        "spec":true,
        "modules":false
      }
    ]
  ],
  "plugins": ["@babel/plugin-transform-typescript"]
}